.circular-button {
    -fx-background-color: #ffffff;
    -fx-font-family: 'Pocket Monk';
    -fx-font-size: 20px;
    -fx-text-fill: #77bdd8;
    -fx-border-color: #87CEEB;
    /* -fx-border-width: 2; */
    -fx-border-radius: 50;
    -fx-background-radius: 50;
}

.circular-button:hover {
    -fx-background-color: #e2eced;
    -fx-text-fill: #65b0ce;
}

.circular-button:pressed {
    -fx-background-color: #65b0ce;
    -fx-text-fill: #e2eced;
}

.tooltip {
    -fx-background-color: rgba(0, 157, 255, 0.5); /* Blue color with 50% transparency */
    -fx-border-color: white;
    /* -fx-padding: 0.1em 0.1em 0.1em 0.1em;  */
    -fx-shape: "M7,0 L95,0 L100,10 L100,90 L90,100 L2,100 L0,95 L0,5 Z"; /* Custom SVG path */
    -fx-background-radius: 0; /* Reset to avoid conflicts */
    -fx-border-radius: 0; /* Reset to avoid conflicts */
    -fx-border-width: 2; /* Adjust border width */
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 0.639), 10, 0.5, 0, 0); /* Add glow effect */
}

.text-flow{
    -fx-border-color: white;
    /* -fx-padding: 2em 2em 2em 2em; */
    -fx-shape: "M7,0 L95,0 L100,10 L100,90 L90,100 L2,100 L0,95 L0,5 Z"; /* Custom SVG path */
    -fx-border-width: 2;
}

.text-name{
    -fx-font-weight: bold;
    -fx-fill: white;
}

.text-info{
    -fx-fill: white;
}

.turn-label {
    -fx-font-family: 'Pocket Monk';
    -fx-font-size: 42px;
    -fx-text-fill: #333333;
    -fx-padding: 15 25;
    -fx-background-color: transparent;
    -fx-effect: dropshadow(gaussian, white, 3, 1, 0, 0),  /* Inner white glow */
                dropshadow(gaussian, black, 2, 1, 0, 0),   /* Black outline */
                dropshadow(gaussian, white, 4, 0.5, 0, 0); /* Outer glow */
    -fx-border-color: transparent;
}

/* Style for TitledPane in Accordion */
.titled-pane {
    -fx-font-size: 14px;
    -fx-text-fill: #FFFFFF; /* White text for title */
}

.titled-pane > .title {
    -fx-background-color: #4682B4; /* Steel Blue for title bar */
    -fx-text-fill: #FFFFFF;
    -fx-font-family: 'Pocket Monk';
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-padding: 8;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 2 2 2; /* Border below the title */
}

.titled-pane > .content {
    -fx-background-color: #87CEEB; /* Sky Blue background for content */
    -fx-padding: 10;
    -fx-border-color: #FFFFFF;
    -fx-border-width: 0 2 2 2; /* Border around the content */
}

.image-view {
    -fx-padding: 20px; /* Add 20px of space around the ImageView */
}


