instruction.txt
launch4j.log
JRE/
config.xml
aop.jar
AgeOfPokemon.exe
icon.ico
instruction.md

# Assets - too large for GitHub, available on Google Drive
src/main/resources/com/example/assets/
assets.zip
target/classes/com/example/assets/