.root-vbox {
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-spacing: 15;
    -fx-alignment: top-center;
}

.main-title {
    -fx-font-family: 'Pocket Monk';
    -fx-font-size: 82;
    -fx-text-fill: linear-gradient(to bottom, #ffd700, #ff8c00);
    -fx-padding: 15;
    -fx-effect: dropshadow(gaussian, black, 10, 0.5, 0, 0);
}

.error-label {
    -fx-text-fill: red;
}

.subtitle-label {
    -fx-font-size: 24;
    -fx-text-fill: white;
}

.player-spinner {
    -fx-font-size: 20;
}

.player-names-container {
    -fx-background-color: rgba(255, 255, 255, 0.8);
    -fx-padding: 25;
    -fx-background-radius: 15;
    -fx-border-color: rgba(0, 0, 0, 0.5);
    -fx-border-width: 3;
    -fx-border-radius: 15;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
    -fx-alignment: top-center;
    -fx-spacing: 15;
}

/* Add styles for text fields */
.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-padding: 8;
    -fx-font-size: 14px;
}

.start-button {
    -fx-background-color: linear-gradient(to bottom, #4CAF50, #45a049);
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 2);
    -fx-pref-width: 300;
    -fx-pref-height: 50;
}

.back-button {
    -fx-background-color: linear-gradient(to bottom, #f44336, #da190b);
    -fx-text-fill: white;
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.4), 6, 0, 0, 2);
    -fx-pref-width: 300;
    -fx-pref-height: 50;
}
